<a href="https://colab.research.google.com/github/TamilselviMunusamy007/ML/blob/main/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:

# While loop
print("While loop")
number = 1
while (number < 10):
    print(number)
    number += 1 # Short form for number = number + 1, number++ does not exist

While loop
1
2
3
4
5
6
7
8
9

In [4]:

# Iterate over items
print("Iterate loop")
items = ["Book", "Banana", "Computer"]
for item in items:
    print("I will take my", item, "with me...")

Iterate loop
I will take my Book with me...
I will take my Banana with me...
I will take my Computer with me...

In [3]:

# Print numbers from 1 to 10 but continue loop under certain conditions
print("Continue loop")
for number in range(1,11):
    if number % 2: # Modulo operator: %
        continue # Next iteration
    print(number)

Continue loop
2
4
6
8
10

In [1]:

# Print numbers from 1 to 10
print("For loop")
for number in range(1,11):
    print(number)

For loop
1
2
3
4
5
6
7
8
9
10

In [2]:
# Print numbers from 1 to 10 but break loop under certain conditions
print("Break loop")
for number in range(1,11):
    if number == 5:
        break
    print(number)

Break loop
1
2
3
4

In [6]:
#  Read a string from the user, and print characters present at an even index number

text = input("Enter a string: ")
print(text[::2])

Enter a string: i will be okay
iwl eoa

In [7]:
# Read string from user
s = input("Enter a string: ")

# Read value of n
n = int(input("Enter the value of n: "))

# Remove characters from 0 to n
new_string = s[n:]

# Print result
print("New string:", new_string)

Enter a string: HEllo
Enter the value of n: 2
New string: llo

In [9]:
# Read main string
s = input("Enter the main string: ")

# Read substring
sub = input("Enter the substring to find: ")

# Count occurrences
occurrences = s.count(sub)

# Print result
print("Number of occurrences:", occurrences)

Enter the main string: Things to handle
Enter the substring to find: 6
Number of occurrences: 0

In [10]:
num = input("Enter a number: ")

if num == num[::-1]:
    print("Palindrome number")
else:
    print("Not a palindrome number")

Enter a number: 12234
Not a palindrome number

In [11]:

# 5 - Given two lists of numbers, write a Python code to create a new list such that the latest list should contain odd numbers from the first list and even numbers from the second list.
# Hints,
# Create an empty list named result_list
# Iterate the first list using a for loop
# In each iteration, check if the current number is odd using the num % 2 != 0 formula. If the current number is odd, add it to the result list
# Now, iterate the second list using a loop.
# In each iteration, check if the current number is even using the num % 2 == 0 formula. If the current number is even, add it to the result list.
# Print the result list.


# First list
list1 = [10, 21, 33, 40, 55, 60]

# Second list
list2 = [11, 22, 34, 45, 56, 67]

# Create empty result list
result_list = []

# Iterate first list (add odd numbers)
for num in list1:
    if num % 2 != 0:   # Check if number is odd
        result_list.append(num)

# Iterate second list (add even numbers)
for num in list2:
    if num % 2 == 0:   # Check if number is even
        result_list.append(num)

# Print result
print("Result list:", result_list)

Result list: [21, 33, 55, 22, 34, 56]

In [12]:
# 6 - You can use several loops. Write a program which outputs a multiplication
# table from 1 to 100 (1x1=1, 1x2=2, etc.)




for i in range(1, 11):        # Rows (1 to 10)
    for j in range(1, 11):    # Columns (1 to 10)
        print(f"{i} x {j} = {i*j}")
    print()  # Blank line after each table

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100